\
<form class="mainQuestion" action="/edit/{{id}}" method="post">
    <input type="text" name="title" value="{{title}}" placeholder="What is your next task?">
    <input type="text" name="priority" value="{{priority}}" placeholder="priority">
    <button type="submit" name="button">Submit</button>
</form>
