{{#task}}

<form class="mainQuestion" action="/edit/{{id}}" method="post">
    <input type="text" name="title" value="{{title}}" placeholder="How would you like to edit this task?">
    <input type="text" name="priority" value="{{priority}}" placeholder="priority">
    <button type="submit" name="button">Submit</button>
</form>
{{/task}}
